<span data-container="<%= id %>">
  <span data-var="<%= label %>" class="TKAdjustableNumber" <% if (arguments[0].min) {%>data-min="<%= min %>"<% } %> <% if (arguments[0].max) {%>data-max="<%= max %>"<% } %> ></span>
</span>