<% for (var i = 0, l = arguments[0].declarations.length; i < l; i++) { %>
<% var dec = arguments[0].declarations[i]; %>
<li>
    <strong><%= dec.id.name %></strong>
    <% if (dec.init.type == 'Identifier') { %>
    <span class="var"><%= dec.init.name %></span>
    <% } else if (dec.init.type == 'Literal') { %>
    <span class="num"><%= dec.init.value %></span>
    <% } %>
</li>
<% } %>