<div class="varDecs">
<% _.each(arguments[0], function (dec) { %>
<span class="varDec">
    <span class="cm-variable"><%= dec.name %> = </span>
    <% if (dec.init.type == 'Identifier') { %>
    <span class="cm-variable"><%= dec.init.name %></span>
    <% } else if (dec.init.type == 'Literal') { %>
    <span class="cm-number"><%= inventingOnPrinciple.getTemplate('tangleSpan')({ label: dec.name, value: dec.init.value }) %></span>
    <% } %>
</span>
<% }); %>
</div>
