<%= inventingOnPrinciple.getTemplate('tab')(arguments[0].depth) %>
<% _.each(arguments[0].decs, function (dec) { %>
<span class="varDec">
    <span class="cm-variable-2"><%= dec.name %> = </span>
    <% if (dec.init.type == 'Identifier') { %>
    <span class="cm-variable-2"><%= dec.init.name %></span>
    <% } else if (dec.init.type == 'Literal') { %>
    <span class="cm-number"><%= inventingOnPrinciple.getTemplate('tangleSpan')({ id: dec.id, label: dec.name, value: dec.init.value }) %></span>
    <% } %>
</span>
<% }); %>