<% for (var i = 0, l = arguments[0].declarations.length; i < l; i++) { %>
<% var dec = arguments[0].declarations[i]; %>
<div class="varDec">
    <strong><%= dec.id.name %> = </strong>
    <% if (dec.init.type == 'Identifier') { %>
    <span class="var"><%= dec.init.name %></span>
    <% } else if (dec.init.type == 'Literal') { %>
    <span class="num"><%= inventingOnPrinciple.getTemplate('tangleSpan')({ label: dec.id.name, value: dec.init.value }) %></span>
    <% } %>
</div>
<% } %>