<% _.each(arguments[0], function (dec) { %>
<div class="varDec">
    <strong><%= dec.name %> = </strong>
    <% if (dec.init.type == 'Identifier') { %>
    <span class="var"><%= dec.init.name %></span>
    <% } else if (dec.init.type == 'Literal') { %>
    <span class="num"><%= inventingOnPrinciple.getTemplate('tangleSpan')({ label: dec.name, value: dec.init.value }) %></span>
    <% } %>
</div>
<% }); %>
