/* Will be compiled down to a single stylesheet with your sass files */
<style>
.ygtvfocus .ygtvlabel,
.ygtvfocus .ygtvlabel:link,
.ygtvfocus .ygtvlabel:visited,
.ygtvfocus .ygtvlabel:hover {
    background-color: #eee;
}

.highlight {
    background-color: #add8e6;
    background-color: rgba(173, 216, 230, 0.6);
}

label {
    margin-left: 5px;
    margin-right: 15px;
}

table th, table td {
    text-align: left;
    background-color: white;
}

tbody tr:nth-child(odd) td {
    background-color: white;
}

tbody td {
    background-color: white;
}
</style>