@import 'base'
@import 'tabs'
@import "compass/css3/box-shadow"

body
  background-color: #ffffff
  min-width: $width
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif

.container
  margin: 0 auto
  width: $width

.left, .right
  width: 49.8%
  position: relative

.left
  float: left

.right
  float: right

.CodeMirror
  padding: 0
  border: 1px solid #ccc
  height: $editorHeight

#console
  height: 100px
  margin: 0
  display: block
  border: 1px solid #bbb

#decsContainer
  overflow: scroll
  margin: 0
  border: 1px solid #DDD

#vars
  padding: .4em
  min-height: 27em
  .spacer
    height: 1em
  span
    display: inline-block

.lineinfo
  position: absolute
  right: 5px
  z-index: 11
  background-color: transparent
  border-color: 1px solid red

.errorContainer
  position: absolute
  right: 0
  line-height: 1em
  width: 100%

.CodeMirror
  .errorLine
    // color: white;
  .errorLineBackground
    background-color: rgba(255, 0, 0, 0.3)

  .tangle
    background-color: rgba(0, 250, 0, 0.1)
  .highlight
    background-color: rgba(255, 255, 122, 0.4) !important

  .identifier
    background-color: rgba(255, 255, 122, 0.4) !important
    border: 1px solid #ffcc99
    margin: -1px

#stateContainer
  display: none

#varsContainer
  display: none

  pre
    min-height: 100px
    border: 1px solid #AAA
    overflow: auto

.var-hint
  @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 2px, 6px, -3px, true)
  padding: 5px 0
  margin: 2px 0
  border-bottom: 1px solid #EEE
  background-color: #f8f8f8

.lint-error
  font-family: arial
  font-size: 70%
  background: #ffa
  color: #a00
  padding: 2px 5px 3px

.lint-error-icon
  color: white
  background-color: red
  font-weight: bold
  border-radius: 50%
  padding: 0 3px
  margin-right: 7px
