@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"

$width: 960px
$editorHeight: 500px

body
  background-color: #ffffff
  min-width: $width
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

#console
  height: 100px
  margin: 0
  display: block
  border: 1px solid #bbb

#decsContainer
  height: $editorHeight
  // overflow: scroll
  margin: 0
  padding: 0

#vars
  min-height: 27em
  width: 100%
  .spacer
    height: 1em
  span
    display: inline-block

.lineinfo
  position: absolute
  right: 5px
  z-index: 11
  background-color: transparent
  border-color: 1px solid red

.errorContainer
  position: absolute
  right: 0
  line-height: 1em
  width: 100%

.CodeMirror
  padding: 0
  border: 1px solid #ccc
  height: $editorHeight
  .errorLine
    // color: white;
  .errorLineBackground
    background-color: rgba(255, 0, 0, 0.3)

  .tangle
    background-color: rgba(0, 250, 0, 0.1)
  .highlight
    background-color: rgba(255, 255, 122, 0.4) !important

  .identifier
    background-color: rgba(255, 255, 122, 0.4) !important
    border: 1px solid #ffcc99
    margin: -1px

#stateContainer
  display: none

#varsContainer
  display: none

  pre
    min-height: 100px
    border: 1px solid #AAA
    overflow: auto

.var-hint
  @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 2px, 6px, -3px, true)
  margin: 0
  background-color: #f8f8f8
  &.show
    border-bottom: 1px solid #EEE
    padding: 5px 0

.highlight-line
  background-color: rgba(255, 50, 50, 0.5)

.lint-error
  margin-bottom: 0
  @include border-radius(0)
  p
    margin: 2px 6px
  .ui-icon-alert
    float: left
    margin-right: 0.3em

#tokens
  overflow-y: scroll

#tabs .tabs-spacer
  float: left
  height: 200px

pre
  margin-bottom: 0

.ui-tabs
  padding: 0
  .ui-tabs-panel
    max-height: $editorHeight
    overflow-y: scroll
    padding: 0

.tabs-bottom .ui-tabs-nav
  padding: 0
  li
    top: auto
    bottom: 0
    margin: 0 .2em 1px 0
    border-bottom: auto
    border-top: 0
    a
      padding: 0 5px
    &.ui-tabs-active
      margin-top: -1px
      padding-top: 1px

.visblock
  display: inline-block
  border: 1px solid black
  height: 100%
.arrvis
  height: 50px