#code {
  width: 500px;
  float: left;
}

#canvas {
  display: inline-block;
}

.CodeMirror {
  border: 1px solid black;
}
.lint-error {
  font-family: arial;
  font-size: 70%;
  background: #ffa;
  color: #a00;
  padding: 2px 5px 3px;
}
.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}